<app-inputfields class="d-flex flex-column align-items-center justify-content-evenly"></app-inputfields>
<div class="d-flex flex-column align-items-center">
  <div class="form-check">
    <input class="form-check-input p-2" type="checkbox" [(ngModel)]="this.enableEmailNotifications"
      id="enableEmailNotifications">
    <label class="form-check-label" for="enableEmailNotifications"> Send Email Notifications
    </label>
  </div>
  <div class=" form-check p-2">
    <button type="submit" [disabled]='!validData()' (click)="this.submitPosting()" class="btn btn-primary">Submit</button>
  </div>
</div>