<div class="d-flex flex-row align-items-start" style="height:100%">
    <div class="d-flex flex-column p-2" style="width:15%">
        <button *ngFor="let user of this.users" (click)="loadMessageThread(user)" class="d-flex p-2 btn btn-outline-info" style="width: 100%; margin-bottom:5%;">
                   {{user.userName}}
        </button>
    </div>
    <div class="card border-primary p-2 d-flex flex-column" style="width:50%;">
        <div class="flex-row text-success"
        *ngFor="let message of messages" style="width: 100%;">
            <p [ngClass]="{'d-flex flex-row-reverse text-danger': message.senderId == this.accountService.getcurrentUserId()}"
            >{{message.content}}</p>
            
        </div>        
    </div>
</div>
<!-- 
[ngClass]="{'d-flex justify-content-left': message.recipientId == this.accountService.getcurrentUserId()}"
        [ngClass]="{'align-self-end justify-content-right': message.senderId == this.accountService.getcurrentUserId()}" -->