<form *ngIf="((this.accountService.currentUser$ | async) === null) && !this.registerMode" [formGroup]='loginForm'
    (ngSubmit)="loginForm.valid && login()" autocomplete="off"
    class="d-flex flex-column" style="width:30%; margin-left: 35%;">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
        <input name="loginId" [formControl]='loginForm.controls["loginId"]' type="email" class="form-control"
            id="loginId" placeholder="name@example.com">
        <label for="loginId">Email address</label>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone</div>
    </div>
    <div class="form-floating">
        <input name="password" [formControl]='loginForm.controls["password"]' type="password" class="form-control"
            id="Password" placeholder="Password">
        <label for="Password">Password</label>
    </div>

    <div class="row" *ngIf="loginValidationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of loginValidationErrors">
                {{error}}
            </li>
        </ul>
    </div>
    <div class="d-flex flex-row justify-content-evenly">
        <div><button [disabled]='!loginForm.valid' class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </div>
        <div><button class="w-100 btn btn-lg btn-primary" type="submit" (click)="toggleRegisterMode()">Register</button>
        </div>
    </div>
    <div class="overlay" *ngIf="validationPopUp">
        <div class="popup">
            <h4>Please activate your account using the link shared in the email</h4>
            <a class="close" (click)="validationPopUp = false">&times;</a>            
        </div>
    </div>
</form>


<form *ngIf="((this.accountService.currentUser$ | async) === null) && this.registerMode" [formGroup]='registerForm'
    (ngSubmit)="registerForm.valid && registerUser()" autocomplete="off"
    class="d-flex flex-column" style="width:30%; margin-left: 35%;">
    <h1 class="h3 mb-3 fw-normal">Please regsiter here</h1>

    <div class="form-floating">
        <input name="userName" [formControl]='registerForm.controls["userName"]' type="email" class="form-control" id="userName"
            placeholder="Please enter your user name">
        <label for="UserName">User Name</label>
    </div>
    <br>
    <div class="form-floating">
        <input name="emailId" [formControl]='registerForm.controls["emailId"]' type="email" class="form-control" id="emailId"
            placeholder="name@example.com">
        <label for="loginId">Email address</label>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone</div>
    </div>
    <div class="form-floating">
        <input name="password" [formControl]='registerForm.controls["password"]' type="password" class="form-control" id="password"
            placeholder="Password">
        <label for="password">Password</label>
        <div id="passwordHelpBlock" class="form-text">
            Please enter a password of minimum 8 characters in length
        </div>
    </div>
    <br>
    <div class="row" *ngIf="registerValidationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of registerValidationErrors">
                {{error}}
            </li>
        </ul>
    </div>
    <div class="d-flex flex-row justify-content-evenly">
        <div><button class="w-100 btn btn-lg btn-primary" [disabled]='!registerForm.valid' type="submit">Register</button></div>        
        <div><button class="w-100 btn btn-lg btn-primary" type="button" (click)="toggleRegisterMode()">Back to
                Login</button></div>        
    </div>
</form>