<nav *ngIf="(this.accountService.currentUser$ | async)" class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Welcome to Travel Companion</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="isCollapsed" aria-controls="navbarCollapse" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show" id="navbarCollapse" [collapse]="isCollapsed" [isAnimated]="true">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/viewbookings" routerLinkActive="active">Existing posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/createposting" routerLinkActive="active">Post your travel plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bs-white" routerLink="/messages" routerLinkActive="active">Messages
            <span *ngIf="this.accountService.newMessagesCount > 0" class="badge bg-secondary">{{this.accountService.newMessagesCount}}</span>
          </a>
        </li>
      </ul>
      <div class="nav-item dropdown d-flex" dropdown>
        <a class="nav-link dropdown-toggle bg-white" dropdownToggle id="navbarDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Welcome {{(this.accountService.currentUser$ | async).userName | titlecase}}
          <fa-icon [icon]="faUser"></fa-icon>
        </a>
        <ul class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item">Profile</a></li>
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>