<nav *ngIf="(this.accountService.currentUser$ | async)" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">Welcome to Travel Companion</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="isCollapsed" aria-controls="navbarCollapse" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show" id="navbarCollapse" [collapse]="isCollapsed" [isAnimated]="true">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page">Look for existing posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Post your travel plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bs-white">Messages</a>
        </li>
      </ul>
      <div class="nav-item dropdown d-flex" dropdown>
        <a class="nav-link dropdown-toggle bg-dark" dropdownToggle id="navbarDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Welcome {{(this.accountService.currentUser$ | async).userName}}
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person"
            viewBox="0 0 16 16">
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
          </svg>
        </a>
        <ul class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item">Profile</a></li>
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>