<app-inputfields class="d-flex flex-row"></app-inputfields>
<div class="d-flex flex-column justify-content-evenly align-items-center">
    <div class="d-flex flex-row p-2">
        <mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="travelDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"
                    class="p-2 flex-fill">
                    Date
                </th>
                <td mat-cell *matCellDef="let element" class="p-2 flex-fill">
                    {{this.datePipe.transform(element.travelDate,"MMM-dd-yyyy")}} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="originCountry" class="p-2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                    Origin Country
                </th>
                <td mat-cell *matCellDef="let element"> {{element.originCountry}} </td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="originAirport">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight"
                    class="p-2 flex-fill">
                    Origin Airport
                </th>
                <td mat-cell *matCellDef="let element" class="p-2 flex-fill"> {{element.originAirport}} </td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="destinationCountry" class="flex-column">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"
                    class="p-2 flex-fill">
                    Destination Country
                </th>
                <td mat-cell *matCellDef="let element" class="p-2 flex-fill"> {{element.destinationCountry}} </td>
            </ng-container>
    
    
            <ng-container matColumnDef="destinationAirport" class="flex-column">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"
                    class="p-2 flex-fill">
                    Destination Airport
                </th>
                <td mat-cell *matCellDef="let element" class="p-2 flex-fill"> {{element.destinationAirport}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="p-2 flex-fill"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="p-2 flex-fill"></tr>
        </mat-table>
    </div>
    <div class="d-flex flex-row p-2">
        <mat-paginator class="d-flex flex-row" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>

</div>